<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hash_RB-and-LL</Hash_RB-and-LL></title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Hash Table Collision Handling Implementation</h1>
    <h2>Using RB Tree and Linked List</h2>
    <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    </div>
    <h3 id="threshold"></h3>
    <button id="calculate-button">Caluclate!!</button>
    <br></br>
    <img src="../static/results/lin.jpg" id="results-plot"/>
    <script src="../static/main.js"></script>
</body>
</html>